>  Ce notebook permet de générer manuellement le fichier dataset.csv suite au webscraping de MO si besoin

Initialisation

In [11]:
# Import des librairies
import os
import pandas as pd

# Repertoire des donnés
data_path = "D:/LAYER0/MO/MO/"

# Liste des dossiers
data_folders = os.listdir(data_path)
number_of_folders = len(data_folders)

#  CSV à générer
output_path = 'D:/LAYER0/MO/dataset.csv'

Lecture des données récupérés

In [12]:
print("Dossiers : ", data_folders)
print("Nombre de dossiers : ", number_of_folders)

Dossiers :  ['1174', '15162', '1540', '2749', '29997', '330', '344', '362', '373', '382', '39842', '42', '50164', '63454']
Nombre de dossiers :  14

In [35]:
total_files = 0
for id_folder in data_folders:
    path = data_path+id_folder
    files = os.listdir(path)
    number_of_files = len(files)
    print("Nombre de fichiers dans ", path)
    print(number_of_files)
    total_files += number_of_files

print("Nombre total de fichiers : ", total_files)

Nombre de fichiers dans  D:/LAYER0/MO/MO/1174
230
Nombre de fichiers dans  D:/LAYER0/MO/MO/15162
147
Nombre de fichiers dans  D:/LAYER0/MO/MO/1540
158
Nombre de fichiers dans  D:/LAYER0/MO/MO/2749
12
Nombre de fichiers dans  D:/LAYER0/MO/MO/29997
187
Nombre de fichiers dans  D:/LAYER0/MO/MO/330
192
Nombre de fichiers dans  D:/LAYER0/MO/MO/344
199
Nombre de fichiers dans  D:/LAYER0/MO/MO/362
218
Nombre de fichiers dans  D:/LAYER0/MO/MO/373
259
Nombre de fichiers dans  D:/LAYER0/MO/MO/382
259
Nombre de fichiers dans  D:/LAYER0/MO/MO/39842
103
Nombre de fichiers dans  D:/LAYER0/MO/MO/42
248
Nombre de fichiers dans  D:/LAYER0/MO/MO/50164
111
Nombre de fichiers dans  D:/LAYER0/MO/MO/63454
115
Nombre total de fichiers :  2438

Création du dataframe

In [66]:
data = []

for id_folder in data_folders:
    path = data_path+id_folder
    files = os.listdir(path)
    files_without_extension = [os.path.splitext(file)[0] for file in files]  # os.path.splitext(file) : Cette fonction de la bibliothèque os.path prend un nom de fichier et le divise en deux parties
    data.append({
        "species_id": id_folder, 
        "merged_ids": ','.join(files_without_extension),
        "imgs_files": ','.join(files),
        "total_files": len(files)
    })

webscraped = pd.DataFrame(data)
display(webscraped)

,species_id,merged_ids,imgs_files,total_files
0,1174,"1038882,1042873,1043175,1043176,1061154,107690...","1038882.jpg,1042873.jpg,1043175.jpg,1043176.jp...",230
1,15162,"1035951,1035952,1044677,1044678,1068730,107367...","1035951.jpg,1035952.jpg,1044677.jpg,1044678.jp...",147
2,1540,"1070158,1072158,1072159,1076350,1076351,108143...","1070158.jpg,1072158.jpg,1072159.jpg,1076350.jp...",158
3,2749,"19603,19683,38234,48567,48607,51775,53217,5339...","19603.jpg,19683.jpg,38234.jpg,48567.jpg,48607....",12
4,29997,"1019402,1022171,1022173,1031446,1032006,103200...","1019402.jpg,1022171.jpg,1022173.jpg,1031446.jp...",187
5,330,"1000839,101125,101126,1020108,1047060,1058461,...","1000839.jpg,101125.jpg,101126.jpg,1020108.jpg,...",192
6,344,"102050,107133,1071722,1075718,1089687,1090898,...","102050.jpg,107133.jpg,1071722.jpg,1075718.jpg,...",199
7,362,"1001208,1002765,1002766,1002767,1002768,100276...","1001208.jpg,1002765.jpg,1002766.jpg,1002767.jp...",218
8,373,"1017358,1029199,1029201,1029205,1031850,104014...","1017358.jpg,1029199.jpg,1029201.jpg,1029205.jp...",259
9,382,"100599,100600,101528,1047052,1062503,1062531,1...","100599.jpg,100600.jpg,101528.jpg,1047052.jpg,1...",259
10,39842,"1071341,1074742,1074746,1074764,1085398,108540...","1071341.jpg,1074742.jpg,1074746.jpg,1074764.jp...",103
11,42,"1073,113898,11410,114795,115947,117503,118285,...","1073.jpg,113898.jpg,11410.jpg,114795.jpg,11594...",248
12,50164,"1075389,1075390,1075391,1075392,1081755,108374...","1075389.jpg,1075390.jpg,1075391.jpg,1075392.jp...",111
13,63454,"1026987,1026988,1034078,1034079,1177753,117974...","1026987.jpg,1026988.jpg,1034078.jpg,1034079.jp...",115

In [69]:
print("Nombre total de fichiers :", webscraped['total_files'].sum())

Nombre total de fichiers : 2438

# Génération du fichier dataset.csv

In [68]:
webscraped.to_csv(output_path, index=False)

print(f'Data saved to {output_path}')

Data saved to D:/LAYER0/MO/dataset.csv

# Comparatif avec all_ids

In [70]:
csv_file_path = '../notebooks/mushroom_observer/dataset-mushroom-observer/qualified-dataset/all_ids.csv'
all_ids = pd.read_csv(csv_file_path)
all_ids

    Overall_ID                                         Merged_IDs
0         1174  405904,414778,594982,806590,336937,619647,1156...
1        15162  582982,320106,1331128,1534187,803949,1092685,1...
2         1540  1349717,1352393,1221166,1349760,1352392,137693...
3         2749  5392,19603,19683,48567,48607,53392,54011,56752...
4        29997  1661340,323814,1451660,1560965,1661341,323815,...
5          330  1203918,1070069,546940,1363007,575143,1065264,...
6          344  518444,1610987,1610986,503659,518442,1610985,5...
7          362  139037,139034,135195,78255,135196,78251,213823...
8          373  1105024,1107867,1129124,1164811,862772,910055,...
9          382  1618821,1621974,1638656,178484,1354000,1356763...
10       39842  1074764,1085405,1074746,1085403,1085402,118856...
11          42  732199,735820,736046,736852,757648,770219,7787...
12       50164  727940,628641,1081755,1075392,1353378,760795,1...
13       63454  151015,43831,46092,43833,13892,43829,13893,901...

In [116]:
# Comparaison

print(f"Les deux DataFrames ont les mêmes especes :\n {all_ids["Overall_ID"].astype('int64') == webscraped["species_id"].astype('int64')}")

print(f"all_ids' : {all_ids.shape[0]}")

print(f"webscraped' : {webscraped.shape[0]}")

all_ids_total = all_ids["Merged_IDs"].apply(lambda x: len(x.split(','))).sum(),
webscraped_total = webscraped['total_files'].sum()

total_number_of_files = pd.DataFrame({
    "all_ids": all_ids_total,
    "webscraped": webscraped_total,
    "Difference": all_ids_total_files -  webscraped_total
})

print("Nombre total de fichier dans les deux dataframes :")
display(total_number_of_files)

Les deux DataFrames ont les mêmes especes :
 0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
dtype: bool
all_ids' : 14
webscraped' : 14
Nombre total de fichier dans les deux dataframes :

   all_ids  webscraped  Difference
0     2469        2438          31